* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #F77F00;
    border-bottom:  2px white solid;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

.header-right {
    font-size: 20px;
    list-style-type: none;
    display: flex;
    gap: 12px;
}

/* Killstreaks*/ 

.killstreaks h1 {
    text-align: center;
}

.killstreaks {
    background-color: lightseagreen;
    width: 100%;
    height: 48em;
}

.predatormissile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ospreygunner {
    display: flex;
}

.img-ranking {
    display: flex;
}

p {
    font-size: 1.25em;
}

strong {
    font-size: 24px;
    margin-left: 15px;
}

.predatormissileimg {
    height: 125px;
}

img {
    height: 75px;
}

/* Scorers */

.section-one {
    background-image: url(./media/basketballs.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 18em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.oatheading {
    border: 2px white solid;
    background-color: black;
    color: white;
    text-align: center;
    width: 15em;
    height: 1.5em;
    margin-top: 65px;
}

.define {
    border: 4px #FB4F14 solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32em;
    height: 7em;
    padding: 5px;
    margin-bottom: 25px;
}

.howidefine {
    font-size: 1.5em;
}

.ul-scorers {
    list-style-type: none;
}

li {
    font-size: 1.25em;
}

strong {
    margin-left: 5px;
}

.player {
    background-color: #E89149;
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nbah1text {
    height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.nbaimg {
    height: 300px;
    border: 1px black solid;
    background-color: white;
}

.stephheading {
    border: 2px black solid;
    background-color: #1D428A;
    color: #FFC72C;
    text-align: center;
    width: 8em;
}

.steph-ul {
    border: 2px black solid;
    width: 49em;
    background-color: yellow;
    color: #1D428A;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bronheading {
    border: 2px black solid;
    background-color: #041E42;
    color: #FDBB30;;
    text-align: center;
    width: 8em;
}

.bron-ul {
    border: 2px black solid;
    width: 49em;
    background-color: #860038;
    color: #FDBB30;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kobeheading {
    border: 2px black solid;
    background-color: #552583;
    color: #FDB927;
    text-align: center;
    width: 8em;
}

.kobe-ul {
    border: 2px black solid;
    width: 49em;
    background-color: #552583;
    color: #FDB927;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    border: 2px black solid;
    background-color: white;
    color: black;
}